<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="PostCountPerGroup" value="50" />
    <add key="SfxConfigurationFile" value="sfx.json" />

    <!-- Admin -->
    <add key="Admin.Power" value="On" />
    <add key="Admin.ModeWebOrSql" value="Sql" /> <!-- either "Web" or "Sql" -->
    <!-- Admin WEB -->
    <add key="Admin.CreatePostUrl" value="https://quick.tuxbg.net/?action=ExtContent12" />
    <add key="Admin.TimeoutSeconds" value="5" />
    <add key="Admin.Username" value="ADMIN_USERNAME" />
    <add key="Admin.Password" value="ADMIN_PASSWORD" />
    <!-- Admin SQL -->
    <add key="Admin.ConnectionString" value="server=127.0.0.1;uid=uniuser;pwd=unipass;database=realestate;CharSet=utf8;" />
    <add key="Admin.PostTable" value="posts" />
    <add key="Admin.PostIdCol" value="PostId" />
    <add key="Admin.PostAuthorCol" value="PostAuthor" />
    <add key="Admin.PostUrlCol" value="PostUrl" />
    <add key="Admin.PostFullHtmlCol" value="PostFullHtml" />
    
    <add key="Facebook.Username" value="FACEBOOK_USERNAME" />
    <add key="Facebook.Password" value="FACEBOOK_PASSWORD" />
    <add key="Facebook.TimeoutSeconds" value="8" />

    <!-- Humanizer On/Off -->
    <add key="Humanizer.Power" value="Off" />
    <!-- Stay on page -->
    <add key="Humanizer.StayOnPage.ChancePercent" value="50" />
    <!-- Scroll down -->
    <add key="Humanizer.ScrollPage.ChancePercent" value="50 " />
    <add key="Humanizer.ScrollPage.ChancePercentScrollBackUp" value="50 " />
    <!-- Visit Random Link -->
    <add key="Humanizer.VisitRandomLink.ChancePercent" value="50 " />
    <!-- Default wait -->
    <add key="Humanizer.WaitRandom.MinSeconds" value="2" />
    <add key="Humanizer.WaitRandom.MaxSeconds" value="5" />
  </appSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>