<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="facebook-username" value="todor-dimitrov@abv.bg"/>
		<add key="facebook-password" value="123todor123"/>
		<add key="admin-username" value="ADMIN_USERNAME"/>
		<add key="admin-password" value="ADMIN_PASSWORD"/>
		<add key="minutesWaitWhenNoAlerts" value="30"/>
	</appSettings>
</configuration>
