<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Humanizer On/Off -->
    <add key="Humanizer.Power" value="On"/>
    
    <!-- Stay on page -->
    <add key="Humanizer.StayOnPage.ChancePercent" value="50"/>

    <!-- Scroll down -->
    <add key="Humanizer.ScrollPage.ChancePercent" value="50 "/>
    <add key="Humanizer.ScrollPage.ChancePercentScrollBackUp" value="50 "/>

    <!-- Visit Random Link -->
    <add key="Humanizer.VisitRandomLink.ChancePercent" value="50 "/>
    
    <!-- Default wait -->
    <add key="Humanizer.WaitRandom.MinSeconds" value="2"/>
    <add key="Humanizer.WaitRandom.MaxSeconds" value="5"/>
    
  </appSettings>
</configuration>