<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="facebook-username" value="FACEBOOK_USERNAME"/>
		<add key="facebook-password" value="FACEBOOK_PASSWORD"/>
		<add key="admin-username" value="ADMIN_USERNAME"/>
		<add key="admin-password" value="ADMIN_PASSWORD"/>
	</appSettings>
</configuration>
